ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
    }

    body{
        background: #333333;
        margin: 0;
        }
        
        .tiles{
        margin: 48px auto;
        width: max-content;
        display: grid;
        grid-template-columns: repeat(4,100px);
        gap: 16px;
        }
        .tile {
        height: 100px;
        background: #111111;
        border: 5px solid #444444;
        cursor: pointer;
        }